@import 'tailwindcss';

@theme {
  --default-font-family: 'Inter';

  --color-primary: rgba(0, 17, 65, 1);
  --color-secondary: rgba(77, 86, 103, 1);
  --color-tertiary: rgba(122, 134, 154, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-danger: rgba(183, 28, 28, 1);

  --color-fill-brand: rgba(15, 98, 254, 1);
  --color-fill-brand-hover: rgba(0, 67, 206, 1);
  --color-fill-darkBlue: rgba(0, 17, 65, 1);
  --color-fill-gray: rgba(241, 242, 246, 1);
  --color-fill-gray-hover: rgba(230, 232, 239, 1);
  --color-fill-gray-focus: rgba(230, 230, 232, 1);
  --color-fill-gray-lightest: rgba(241, 242, 246, 1);
  --color-fill-white: rgba(255, 255, 255, 1);

  --color-brand: rgba(15, 98, 254, 1);
  --color-gray: rgba(202, 209, 222, 1);
  --color-danger: rgba(227, 44, 30, 1);
}

@layer components {
  .container-box {
    @apply mx-auto max-w-7xl flex flex-col gap-10 p-10 rounded-3xl bg-fill-white;
  }

  .input-border {
    @apply rounded-sm border border-gray outline-0 hover:border-brand focus:border-brand focus-visible:border-brand active:border-brand active:ring-4 active:ring-brand/20;
  }

  .simple-button {
    @apply h-10 flex flex-row items-center justify-center gap-1 px-5 py-2.5  rounded-full outline-0 text-sm cursor-pointer;
  }

  .button-blue {
    @apply bg-fill-brand text-white hover:bg-fill-brand-hover  focus:bg-fill-brand-hover focus-visible:bg-fill-brand-hover active:bg-fill-brand-hover;
  }

  .button-white {
    @apply bg-fill-white text-fill-darkBlue hover:bg-fill-gray focus:bg-fill-gray-focus active:bg-fill-gray-focus;
  }

  .button-gray {
    @apply bg-fill-gray text-fill-darkBlue hover:bg-fill-gray-hover focus:bg-fill-gray-focus active:bg-fill-gray-focus;
  }

  .menu-button {
    @apply inline-flex flex-row items-center gap-3 p-2 min-w-[200px] cursor-pointer text-sm bg-white hover:bg-fill-gray rounded;
  }
}
